@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

:root {
  --bgColor: #223344;
  --bgColor2: #090a0f;
  --accentColor: #fff;
  --font: "Karla", sans-serif;
  --delay: 0.3s;
}

html {
  overflow: hidden; /* fixes some issues with big bg animation creating white unfilled area at bottom of page on chromium, but breaks after reload */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font);
  background: #333333 radial-gradient(
    ellipse at bottom,
    var(--bgColor) 0%,
    var(--bgColor2) 100%
  );
  /* background-image: url(''); */
  opacity: 0;
  animation: 1s ease-out var(--delay) 1 transitionAnimation; /* duration/timing-function/delay/iterations/name */
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* -settings stuff start- */

/* button used to open the contact form */
.open-button {
  background-color: #555;
  color: white;
  padding: 1px;
  border-radius: 30px;
  border: none; 
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  /*object-position: left bottom;*/
}

/* popup hidden by default */
.settings-popup {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 50px;
  /*left: 10px;
  z-index: 0;*/

}

.settings-container {
  max-width: 135px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: white;
  border-radius: 20px;
}

.settings-container .cancel {
  background-color: white;
  cursor: pointer;
}

/* hover effect */
.settings-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* -settings stuff end- */

/* -custom toggle switch start- */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 20%
}

/* hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(52, 199, 89);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(52, 199, 89);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* for roundedness */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* -custom toggle switch end- */

/* pride.codes start */
@media only screen and (min-width: 768px) {
  #pridecodes-code-corner-svg {
    width: 90px;
  }
}
@media only screen and (max-width: 767px) {
  #pridecodes-code-corner-svg {
    width: 90px;
  }
}

#pridecodes-code-corner-svg {
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

#pridecodes-code-corner-svg:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
/* -pride.codes end- */

/* -gh animated corner start- */
.github-corner:hover .octo-ear {
  animation: octocat-twitch 560ms ease-in-out;
}
@keyframes octocat-twitch {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25%,
  75% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(-4deg) scale(1);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-ear {
    animation: none;
  }
  .github-corner .octo-ear {
    animation: octocat-twitch 560ms ease-in-out;
  }
}

/* octo opacity animation */
.github-corner .octo-background {
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
}
.github-corner:hover .octo-background {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
}
/* -gh animated corner end- */

#profilePicture,
#profilePicture img {
  position: relative;
  width: 96px;
  height: 96px;
  display: block;
  margin: 40px auto 20px;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}

#userName {
  color: var(--accentColor);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
  display: block;
  font-family: var(--font);
  width: 100%;
  text-align: center;
  text-decoration: none;
}

#links {
  max-width: 675px;
  width: auto;
  display: block;
  margin: 25px auto;
}

.link {
  position: relative;
  background-color: transparent;
  color: var(--accentColor);
  border: solid var(--accentColor) 2px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px; /* 17px */
  text-decoration: none;
  /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .link:hover {
    background-color: var(--accentColor);
    color: var(--bgColor);
  }
}

.link:active {
  background-color: var(--accentColor);
  color: var(--bgColor);
}

/* 
disabling for now (flashing animated text/quote/hashtag at bottom of page)
#hashtag {
    position: relative;
    padding-bottom: 20px;
    color: var(--accentColor);
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center; */

/*  animation   */
/*
    overflow: hidden;
    background: linear-gradient(90deg, var(--bgColor), var(--accentColor), var(--bgColor));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear var(--delay) infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
*/

/* animations */
@keyframes transitionAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/* popup */
/* credits: https://www.youtube.com/watch?v=lAS2glU0xlc */
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.popup {
  position: relative;
  top: -43%;
  /* right: -100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  /* max-height: 500px; */
  width: auto;
  height: auto;
  margin: 56px;
  background-color: var(--accentColor);
  /* transform: rotate(32deg); */
  transform: scale(0);
  transition: 0.5s ease-in-out;
}

.popup-quote {
  /* font-family : Baskerville, Georgia, serif;
    font-style : italic; */
  position: flex;
  color: var(--accentColor);
  padding: 20px;
  background-color: var(--bgColor);
  text-align: center;
  font-size: 1rem;
}

.popup-photo {
  display: flex;
  width: 100%;
  height: 100%;
}

.popup-photo img {
  width: 100%;
  height: 100%;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay:target .popup {
  transform: scale(1);
  top: 0;
  /* right: 0; */
  /* transform: rotate(0); */
}

.popup-close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.7rem;
  font-weight: 400;
  border-radius: 100%;
  background-color: var(--bgColor);
  z-index: 4;
  color: var(--accentColor);
  line-height: 2.7rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .popup-close:hover {
    background-color: var(--accentColor);
    color: var(--bgColor);
  }
}

.popup-close:active {
  background-color: var(--accentColor);
  color: var(--bgColor);
}
